* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: white;
  color: black;
}

.App {
  padding: 32px;
}

h1 {
  font-size: 72px;
  margin-bottom: 16px;
}

h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

.todo {
  position: relative;
  background-color: white(187, 186, 186);
  padding: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  
}

.todo:hover {
  background-color: rgba(211, 211, 211, 0.555);
}

.todo .modifyTask {
  position:absolute;
  right: 48px;
}

.todo .deleteTask {
  position: absolute;
  right: 16px;
}

.todo .taskDetails {
  position:relative;
  padding-left: 16px;
}

.todo .checkbox {
  width: 10px;
  height: 10px;
  position: relative;
  background-color: white;
  transition: 0.5s;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
}

.todo.completed .checkbox {
  background-color: darkslategrey;
}