* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --completionTransitionSpeed: 0.1s;
}

body {
  background-color: white;
  color: black;
}

.App {
  padding: 32px;
}

h1 {
  font-size: 72px;
  margin-bottom: 16px;
}

h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

.todo{
  font-size:16px;
  position: relative;
  background-color: white(187, 186, 186);
  padding: 0px;
  display: flex;
  align-items: center;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  
}

.todo:hover {
  background-color: rgba(224, 232, 255, 0.685);
}

.todo .modifyTask {
  position:absolute;
  right: 48px;
}

.todo .deleteTask {
  position: absolute;
  right: 16px;
  padding-top: 5px;
}

.todo .taskDetails, .editTodo {
  position:relative;
  padding: 10px;
  padding-left: 8px;
  padding-right: 95px;
  transition: var(--completionTransitionSpeed);
  word-break: break-all;
  width: calc(100% - 95px);
}

.todos .editing {
  background-color: rgb(233, 233, 233);
  color:rgb(73, 73, 73);
}
.todo .editTodo  {
  font-size: 16px;
  border:0px;
  width: 100%;
  word-break: break-all;
}

.todo .editTodo:focus  {
  outline:none;
  width:100%;
  word-break: break-all;
} 

.todo .checkbox {
  width: 12px;
  height: 12px;
  position: relative;
  background-color: white;
  transition: var(--completionTransitionSpeed);
  border-color: grey;
  border-width: 1px;
  border-style: solid;
}

.todo.completed .checkbox {
  background-color: darkslategrey;
}

.todo .checkbox-area {
  padding: 15px 15px;
}

.todo.completed .taskDetails {
  text-decoration-style:solid;
  text-decoration: line-through;
  color: rgb(155, 155, 155)

}

.addTask .addNewTodo {
  font-size: 16px;
  width: 100%;
  padding: 8px 18px;
  border: none;
  background-color:rgb(230, 230, 230);
}

.addTask .addNewTodo:focus{
  background-color: rgb(243, 243, 243);
}

.addTask .addNewTodo:focus::placeholder{
  color: transparent;
}

.footer {
  position: fixed;
  bottom: 0px;
  padding-top: 3px;
  background-color: white;
  width: 100%
}